.dark-mode:root {
  --bg-body: #0d1520;
  --text-color: #fefefe;
  --bg-card: #212836;
  --border-color: rgba(207, 212, 217, 0.1);
  --icon-toggle-mode: "\f185";
}
:root {
  --bg-body: #f5f5f5;
  --text-color: #001a5e;
  --bg-card: #ffffff;
  --border-color: #cfd4d9;
  --icon-toggle-mode: "\f186";
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
body {
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--bg-body);
}
body,
.card,
.card-body,
#cityNavBar,
#city-dropdown,
#search-button,
#state-dropdown {
  transition: all 0.5s ease-in;
  transition-delay: 200ms;
}

body,
.navTitle,
.card-body,
#cityNavBar {
  color: var(--text-color);
}
.btnCity,
.btnState {
  width: 200px;
}
.card,
#city-dropdown,
#search-button,
#state-dropdown {
  color: #636872;
  background-color: var(--bg-card);
  border-color: var(--border-color);
}
#city,
.cardTitle,
.temperature {
  font-weight: 600;
  letter-spacing: 1px;
}
.navTitle,
.temperature,
#toggleIcon:before {
  font-size: 1.3rem;
}
#allElements {
  display: none;
}
.brazilFlag {
  width: 40px;
  height: 36px;
}
.toggleModeBtn {
  border: none;
}
#toggleIcon:before {
  font-family: fontAwesome;
  content: var(--icon-toggle-mode);
  color: #636872;
  width: 1vw;
}
.title {
  font-size: 2.5rem;
  line-height: 8vh;
}
.squares {
  max-width: 620px;
  padding: 15px;
  margin: 0 auto;
}
.card {
  border-radius: 25px;
}
.cardTitle {
  font-size: 3.5rem;
}
#search-button:hover {
  background-color: var(--text-color);
  color: var(--bg-body);
}
/* ----------------------404 Page---------------------- */
#title404 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
}